<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Museum</title>
</head>
<body>
    <h1>Edit Museum</h1>
    <form action="/museums/<%= museum._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="museum[title]" value="<%= museum.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="museum[location]" value="<%= museum.location %>">
        </div>
        <button>Update Museum</button>
    </form>
    <a href="/museums/<%= museum._id %>">Back to Museum</a>
</body>
</html>