<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museum Detail</title>
</head>
<body>
    <h1>Museum Detail</h1>
    <h3><%= theMuseum.title %></h3>
    <h4><%= theMuseum.location %></h4>
    <footer>
        <a href="/museums">All Museum</a>
    </footer>
</body>
</html>